<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Books</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            border: 1px solid black;
            padding: 6px;
        }
    </style>
</head>
<body>

<h2>Library Books</h2>

<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/books/add}">Add Book</a>
</div>

<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th sec:authorize="hasRole('ADMIN')">Action</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.category}"></td>

        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
            |
            <a th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
</table>

<br>
<a th:href="@{/logout}">Logout</a>

</body>
</html>
